.nav-bar {
  width: 100vw;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}


.nav-link .link {
  color: #111;
  text-decoration: none;
  font-size: 9px;
  border-bottom: 1px solid transparent;
  transition: ease-in-out 0.3s;
}

.nav-link .link:hover {
  color: teal;
  border-bottom: 1px solid darkcyan;
}

.title-extra {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  padding-top: 5px;
  font-size: 13px;
}
